{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ferramentas para o ensino de computação </title>
</head>

<style>
    
    body {
        background-color: darkslateblue;
        color: #f5f5f5;
        font-size: larger;
        font-family: 'Courier New', Courier, monospace;
    }
    

</style>

<body>
    <h1 style='background-color: whitesmoke; color: darkslateblue'>Ferramentas para o ensino de computação 💡🧑‍🏫</h1>
    <h2 style='background-color: whitesmoke; color: darkslateblue'>Resumo</h2>
    <p>Esta pesquisa apresenta uma perspectiva sobre a necessidade e a aplicabilidade de ferramentas eficazes para o ensino da Computação no Brasil.
    O contexto nacional revela grandes desafios, como a precarização de infraestrutura e a falta de profissionais, apesar da obrigatoriedade do estudo da Computação no Ensino Básico a partir de 2026.
    A pesquisa buscou identificar e discutir três ferramentas relevantes utilizadas atualmente para tornar o ensino da computação mais acessível, didático e intuitivo.</p>
    <h1 style='background-color: whitesmoke; color: darkslateblue' >As ferramentas 🔧</h1>
    
    <h2 style= 'background-color:yellow; color:black'  >Scratch - O gatinho dos blocos 🐱 🧱 </h2>
    <a href="https://scratch.mit.edu/" target="_blank"> <img src="{% static 'pesquisa_geral/images/Scratchlogo.svg.png' %}" alt="IDE scratch" width = '500' height="2c00"> 
    </a>    
    <p>O Scratch é uma linguagem de programação visual que foi pensada por estudantes do MIT para estimular o ensino de lógica de programação em crianças e adolescentes antes do ingresso
    no ensino superior. A linguagem utiliza-se de gamificação, com blocos que representam
    comandos para que o personagem realize suas ações. </p>
    <p>O Scratch promove o aprendizado lúdico e a criatividade, com diversão e fácil visualização de processos que, por vezes, a abstração não permite o entendimento completo
    do que o script está fazendo. Essa ferramenta é acessível e intuitiva, tendo uma curva de
    aprendizado suave. Além disso, a comunidade é ativa, contando com diversas competições
    e atualizações frequentes, sendo traduzida para mais de 70 idiomas.</p>
    <p>Além do ensino de lógica de programação, a linguagem é comumente utilizada para rodar scripts de jogos e animações. Ainda nessa perspectiva, o design do Scratch é projetado
    para habituar o público com o funcionamento de uma IDE, pois há 3 seções principais
    para a utilização: a stage area (área de palco), a paleta de blocos e a área de codagem.
    É interessante mencionar que a linguagem introduz uma das noções mais importantes da
    programação, que é a criação de funções para determinadas ocasiões, com a área de "My
    Blocks".</p>

    <img src="{% static 'pesquisa_geral/images/area_scratch.png' %}" alt="IDE scratch" width = '1000' height="700"> 

    <h2 style = 'background-color: coral; color: white'>CodeCombat - Aprender a programar jogando 🎲🛡️⚔️ </h2>
    
    <a href="https://codecombat.com/" target="_blank"> <img src="{% static 'pesquisa_geral/images/cc_logo_exp.png' %}" alt="Logo do CodeCombat" width = '1500' height = '400'>  </a>
    
    <p> 
    Code Combat é um jogo de Role-Playing Game (RPG) para aprender
    conceitos chaves de linguagens de alto nível, como Python e JavaScript, sendo que para
    realizar tarefas ou resolver problemas é preciso criar um algoritmo. O jogo é caracterizado
    por ser open source para que todos da comunidade possam trabalhar para o aprimoramento do jogo e já conta com tradução para 50 idiomas.
    </p>

    <img src="{% static 'pesquisa_geral/images/engaging-codecombat.png' %}" alt="Interface CodeCombat" width = '1000' height = '700'>

    
    

    <h2 style="background-color: darkred; color: white;"> Projeto UNICAMP - Computação Desplugada 🔌🖥️✖️ </h2>

    <a href="https://desplugada.ime.unicamp.br/" target="_blank">
    <img src="{% static 'pesquisa_geral/images/logo_vermelho.png' %}" alt="Logo do projeto" width = '1500' height = '400'> 
    </a>

    <p>A computação desplugada é uma forma de compreender
    conceitos-chaves de computação sem a necessidade de interação com meios eletrônicos
    e digitais. Para o ensino de computação desplugada, são utilizados materiais simples
    e facilmente disponíveis, como papel, caneta, tinta, jogos de tabuleiro e dinâmicas em
    grupo.
    A computação desplugada é uma metodologia rica para o entendimento da computação
    numa perspectiva onde nem todos os lugares possuem pleno acesso à tecnologias, como é
    o caso de países em desenvolvimento com precarização da educação.</p>
    <p> O Instituto de Matemática, Estatística e Computação Científica (IMECC) da UNICAMP baseou-se no projeto CSUnplugged da Nova Zelândia para a criação de atividades
    lúdicas traduzidas para o português e adaptadas ao contexto brasileiro. O público-alvo
    são estudantes do ensino básico, mas não somente, uma vez que não-nativos digitais conseguem também compreender o pensamento computacional com atividades sem intermédio
    de meios eletrônicos.
    As atividades propostas pelo projeto perpassam por grandes áreas da computação,
    como algoritmos, números binários, criptografia, redes e inteligência artificial. Além disso,
    o site também proporciona manual de orientações para o instrutor ou professor, o que
    auxilia para aprofundamentos conceituais e ensina como aplicar a atividade da melhor
    maneira possível.</p>

    </body>
</html>
